<div class="well">
<h1>Admin</h1>

<div class="row">
	
<span class="span8">

</span>	
		
<span class="span3">
<h2>Posts</h2>

<%= link_to "Add a Post", new_admin_post_path %><br/>
<%= link_to "Add a post category", new_admin_category_path  %><br/>
<%= link_to "Manage Posts", admin_posts_path%><br/>
</span>

<span class="span3">
<h2>Store</h2>
<%= link_to "Add a Product", new_admin_product_path%> <br/>
<%= link_to "Add a Product Category", new_admin_product_category_path%> <br/>
<%= link_to "Add a Product Trait", new_admin_trait_path%> <br />
<%= link_to "Manage Catalog", admin_products_path%><br/>

<%= link_to "View Orders", admin_orders_path%>
</span>
</div>

</div>
