<h1>Admin</h1>


<h2>Posts</h2>

<%= link_to "Add a Post", new_admin_post_path %>
<%= link_to "Add a post category", new_admin_category_path  %>

<h2>Store</h2>
<%= link_to "Add a Product", new_admin_product_path%> 
<%= link_to "Add a Product Category", new_admin_product_category_path%> 
<%= link_to "Add an Attribute", new_admin_attribute_path%> 
<%= link_to "Manage Catalog", admin_products_path%>
