<h1>Rishi Ghan</h1>
<p>is working on his new website, check back soon!</p>



<div class="carousel-container">

 <% @carousel_posts.each do |carousel|%>
 	
 	  <% carousel.attachments.each do |attach| %>
 	  <%= image_tag attach.photo.url(:thumb)%>
 <%end%>	
	
	

 <%end%>
 
</div>
<div id="nav"></div>
  <%= paginate @posts %>
  <% @posts.each do |post| %>
  
  <h3><%= post.title %></h3>
  filed under <%= post.category.category_name %>
  <p> 
  
  <!--
  <% post.attachments.each do |attach| %>
  <%= image_tag attach.photo.url(:thumb)%>
  <% end%>
  -->
  </p> 		
  
   <p>
   <%= post.content.html_safe %>
  </p>
   
   <hr> 	
   
<%end%>
