<%= form_for(@order, :html=>{:class=>"form-horizontal"}) do |f| %>
<% if @order.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
	<ul>
		<% @order.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<!-- personal information -->
<div class="well form-inline">
	
	<%= f.text_field :firstname, :placeholder => "First Name" %>
	<%= f.text_field :lastname, :placeholder => "Last Name" %>
</div>

<!-- address -->
<div class="well form-inline">
		<%= f.text_field :address1, :placeholder => "Street Address"%>

		<%= f.text_field :address2, :placeholder =>"Apartment/Suite/Lobby" %>
		<br><br>
	
		<%= f.text_field :city, :placeholder => "City"%>
	
		<%= f.text_field :state , :placeholder => "State"%>
	
		<%= f.text_field :zipcode, :placeholder => "Zipcode" %>

</div>
<!-- personal contact details -->
<div class="well form-inline">

		<%= f.text_field :phone , :placeholder => "Phone"%>

		<%= f.text_field :email , :placeholder => "E-mail"%>
</div>

<!-- payment and credit card details -->
<div class="well form-inline">

		<%= f.select :pay_type, Order::PAYMENT_TYPES, :prompt=> "Select a payment method"%>
		
		<br><br>

		<%= f.text_field :card_number, :placeholder => "Credit Card Number"%>
		
		<%= f.text_field :card_verification,:placeholder => "Card Verification Value (CVV)" %>

		<br><br>
		<%= f.label :card_expires_on, "Card Expiry Date" %>
		<%= f.date_select :card_expires_on, :discard_day => true, :start_year => Date.today.year, :end_year => (Date.today.year+10), :add_month_numbers => true %>
	
</div>


	<%= f.submit :class=> "btn btn-primary", :disable_with => "Processing..."%>


<% end %> 