<h1>Listing orders</h1>

<table class="table table-striped">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Address1</th>
    <th>Address2</th>
    <th>City</th>
    <th>State</th>
    <th>Zipcode</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Pay type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.firstname %></td>
    <td><%= order.lastname %></td>
    <td><%= order.address1 %></td>
    <td><%= order.address2 %></td>
    <td><%= order.city %></td>
    <td><%= order.state %></td>
    <td><%= order.zipcode %></td>
    <td><%= order.phone %></td>
    <td><%= order.email %></td>
    <td><%= order.pay_type %></td>
    <td></td>
    <td></td>
    <td>
    	<div class="btn-group">
    	<%= link_to 'Show', order, :class=>"btn btn-mini" %>
    	<%= link_to 'Edit', edit_order_path(order), :class=>"btn btn-mini" %>
    	<%= link_to 'Destroy', order, :confirm => 'Are you sure?', :method => :delete, :class=>"btn btn-mini btn-danger" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order', new_order_path %>
