
<%=image_tag "/assets/logo.png", :alt=>"Rishi Ghan" %>	
<br/>
<ul class="home-navigation span4">
  
    <li><%=link_to "Home", "/"%></li>
    <li><%=link_to "Projects", projects_path %></li>
    <li><%=link_to "Thesis", thesis_path %></li>
    <li><%=link_to "Blog", blog_path %></li>
    <li><%=link_to "Colophon", colophon_path%></li>
  
</ul>