<h1>Rishi Ghan</h1>
<p>
	is working on his new website, check back soon!
</p>
<div id="nav"></div>
<div class="carousel-container">

</div>
<div class="row">
	<div id="hero" class="hero-module span10">
		<span class="roundedcorners tleft"></span>
		<span class="roundedcorners tright"></span>
			<%@carousel_posts.each do |photo|%>
				<% photo.attachments.each do |link|%>
				  <%= image_tag link.photo.url(:original) %>
				<%end%>
			<%end%>
		<span class="roundedcorners bleft"></span>
		<span class="roundedcorners bright"></span>
	</div>
	
	
	<span class="span4" >
		<div class="well">
		Some interesting information about thesis, Github projects or recent news.
		</div>
	</span>

	<span class="span6"> 
		<% @posts.each do |post| %> 
		<h3><%=link_to post.title, blog_post_path(post) %></h3> 
		filed under <%= post.categories.map{|cat| cat.category_name}.to_sentence(:last_word_connector=>", and ")  %>
		<p>
			<!--
			<% post.attachments.each do |attach| %>
			<%= image_tag attach.photo.url(:thumb)%>
			<% end%>
			-->
		</p>
		<p>
			<%= markdown post.content %>
		</p>
		
		<%= render (:partial=>'citations_snippets' ,:locals=>{:post=>post}) unless post.citations.blank? %>
		
		<hr>
		<%end%> 
		</span>
</div>
