	<!-- hero carousel-->
	<div class="span10">
	<div class="span5"></div>	
	<div id="hero-shaz" class="span5">
	
		<%@carousel_posts.each do |post|%>
		
				
				 <h2><%=link_to post.title, blog_post_path(post) %></h2>
			
		<%end%>
	
	</div>
		<!-- <div class="hero-carousel-nav">
			<%=image_tag "/assets/arrows/left-arrow.png", :id=>"left"%>
			<%=image_tag "/assets/arrows/right-arrow.png", :id=>"right"%>		
		</div> -->
	
	</div>
	
	
	<div class="span4">
	<!-- Github Feed --> 
	<span class="githubfeed">
	<h3>Github Activity</h3>
	<br/>  
		<%= markdown @githubFeed.entries.first.content %>	
	</span>
	<hr/>	
	
	<!--Thesis post snippet -->
	 <span class="thesis-pane">
		<% @thesis_posts.each do |thesis|%>
			<h3><%=link_to thesis.title, thesis_article_path(thesis)%></h3>
			<%= markdown truncate_html(thesis.content, :length=>190, :omission=>'...')%>
			
		<%end%>
	</span>


	<!-- Featured Product -->
	<% unless @product.blank? %>
	<span>	
		<% @product.product_shots.each do |pic|%>
			<%= image_tag pic.shot.url(:thumb)%>
		<%end%>
		
		<% @product.variants.each do |variant| %>
			<h4><%= variant.name%></h4>
			<h2><%= number_to_currency(variant.price)%></h2>
		<%end%>	
	
	</span>
	<%end%>	
</div>	

<!-- Posts pane -->
<div class="span6 posts-pane"> 
	<% @posts.each do |post| %> 
	<h3><%=link_to post.title, blog_post_path(post) %></h3> 
  <span class="dated"><%= post.created_at.to_s(:index)%> </span>
		<p>
			<%= markdown post.content %>
		</p>
		
		<%= render (:partial=>'citations_snippets' ,:locals=>{:post=>post}) unless post.citations.blank? %>
		
	<hr>
	<%end%> 
</div>
