
	<!-- hero carousel-->
	<span class="span10">
	<div id="hero" class="hero-module">
	 <%=image_tag "/assets/herodummy.gif" %>	
		<%@carousel_posts.each do |post|%>
			<span> 
				 <%= markdown post.content %>
			</span>
		<%end%>
	
	</div>
		<div class="hero-carousel-nav">
			<%=image_tag "/assets/arrows/left-arrow.png", :id=>"left"%>
			<%=image_tag "/assets/arrows/right-arrow.png", :id=>"right"%>		
		</div>
	
	</span>
	
	
	<span class="span4" >
		<div class="well">
		Some interesting information about thesis, Github projects or recent news.
		</div>
		
	<!--Thesis post snippet -->
	 <span>
		<% @thesis_posts.each do |thesis|%>
			<h3><%= thesis.title%></h3>
			<%= markdown thesis.content%>
		<%end%>
	</span>
		
	<hr>

	<!-- Featured Product -->
	<% unless @product.blank? %>
	<span>	
		<% @product.product_shots.each do |pic|%>
			<%= image_tag pic.shot.url(:thumb)%>
		<%end%>
		
		<% @product.variants.each do |variant| %>
			<h4><%= variant.name%></h4>
			<h2><%= number_to_currency(variant.price)%></h2>
		<%end%>	
	
	</span>
	<%end%>	
</span>	

<!-- Posts pane -->
<span class="span6"> 
	<% @posts.each do |post| %> 
	<h3><%=link_to post.title, blog_post_path(post) %></h3> 
	filed under <%= post.categories.map{|cat| cat.category_name}.to_sentence(:last_word_connector=>", and ")  %>
	
		<p>
			<%= markdown post.content %>
		</p>
		
		<%= render (:partial=>'citations_snippets' ,:locals=>{:post=>post}) unless post.citations.blank? %>
		
	<hr>
	<%end%> 
</span>
