<h1>Rishi Ghan</h1>
<p>
	is working on his new website, check back soon!
</p>
<div id="nav"></div>
<div class="carousel-container">

</div>
<div class="row">
	<div class="hero-unit span9 hero-module">
		<h1>Birds and Friends</h1>
		<p>How Instagram has helped my sanity</p>
	</div>
	
	<span class="span4" >
	
		<div class="well">
			<%@carousel_posts.each do |photo|%>
				<% photo.attachments.each do |link|%>
					<%= link.photo.url(:thumb)%>
				<%end%>
			<%end%>
		
		</div>
	</span>

	<span class="span6"> 
		<% @posts.each do |post| %> 
		<h3><%=link_to post.title, blog_post_path(post) %></h3> 
		filed under <%= post.categories.map{|cat| cat.category_name}.to_sentence(:last_word_connector=>", and ")  %>
		<p>
			<!--
			<% post.attachments.each do |attach| %>
			<%= image_tag attach.photo.url(:thumb)%>
			<% end%>
			-->
		</p>
		<p>
			<%= markdown post.content %>
		</p>
		
		<%= render (:partial=>'citations_snippets' ,:locals=>{:post=>post}) unless post.citations.blank? %>
		
		<hr>
		<%end%> 
		</span>
</div>
