	  
  <div class="well" id="attachments">
  <%= f.label :attachments %>  <br>	
 
  <%= f.fields_for :attachments do |attach| %>
  
  <% if attach.object.new_record? %>
  <%= attach.file_field :photo %>
  <%end%>

  <% unless attach.object.new_record? %>
  	<%= link_to image_tag(attach.object.photo.url(:thumb)), attach.object.photo.url(:medium)%><br>
	<span class="label">
	<%= attach.object.photo.url(:original)%><br/>
	</span>
	<br>	
	<%= link_to_function "Insert image into post", "insertMarkup(this,'image')", :class=> "btn btn-mini"%>
 <%end%>
  
   
  <%= attach.link_to_remove "Remove this image", {:id=> @post.id, :class=> "btn btn-mini btn-danger"} %> <br><br>
  
   <%end %>	
  
  <%= f.link_to_add "Add another image", :attachments, :class=> "btn btn-mini" %>  
  </div>