<%= nested_form_for([:admin, @post], :html => { :multipart => true }) do |f| %>

<% if @post.errors.any? %>
<div class="error">
	<h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
	<ul>
		<% @post.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

	<div class="btn-group">
	<%= link_to 'Back', admin_path, :class=>"btn btn-mini" %>
	<%= link_to 'Manage Posts', admin_posts_path, :class=>"btn btn-mini" %> 
	
	</div>

	<br/>
	
	<!-- title, categories and keywords -->
	<div class="well">
	<legend><%= controller.action_name.capitalize %> Post</legend>
	<%= f.label :title%>
	<%= f.text_field :title %>
	
	<%= f.label :category_id %>
	<%=hidden_field_tag "post[category_ids][]" , nil%>
	
	<div class="form-inline">
	<% Category.all.each do |cat| %>
		
		<%= check_box_tag "post[category_ids][]", cat.id, @post.category_ids.include?(cat.id), :id=> dom_id(cat)%>	
		<%= label_tag dom_id(cat), cat.category_name %> <br>
	
	<%end %>
	</div>
	
	<br>	
	<%= f.label :keyword_list%>
	<%= f.text_field :keyword_list %>
			
			
	</div> 

		<!-- attachment block -->	
		<%= render :partial => "attachments_form", :locals => {:f => f} %> 
		
		<div class="well">
			<%= f.label :content %>
		
			<%= link_to_function "Insert Carousel wrapper", "insertMarkup(this, 'carousel')", :class=> "btn btn-mini"%>
			<%= link_to_function "Insert Superscript", "insertMarkup(this,'superscript',1)", :class=> "btn btn-mini"%>
			<%= link_to_function "Insert Code", "insertMarkup(this,'code')", :class=> "btn btn-mini"%>
			
			<br><br>

			<% if @post.has_draft? %>
			<%= f.text_area :content, :class=>"span7", :value=> @post.draft.content %>
			<%else%>
			<%= f.text_area :content, :class=>"span7"%>
			<%end%>
		
		</div> 
		
		<!-- citations -->
		<%= render :partial => "citations_form", :locals => {:f => f} %>
		<br><br>

		<%= f.submit :class=> "btn btn-primary" %>
		<% if @post.has_draft? %>
		<%= f.submit :class=>"btn btn-warning" , :value=>"Update Draft"%>
		
		<%else%>
		<%=	f.submit :class=> "btn btn-warning",  :value=>"Save as Draft" %>
		<%end%>

</div>
<% end %> 