<%= nested_form_for(@post, :remote=>true) do |f| %>
   
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br/>
    <%= f.text_field :title %>pwd
    
  </div>
  <div class="field">
    <%= f.label :category_id %><br/>
    <%= collection_select(:post, :category_id, Category.all, :id, :category_name, :prompt => true) %>
    
  </div>
  

  <div class="field" id="attachments">
  <%= f.fields_for :attachments do |attach| %>
  
  <% if attach.object.new_record? %>
  <%= attach.file_field :photo%> <br>
  
  <%end%>
    

  
  <% unless attach.object.new_record? %>
  	<%= link_to image_tag(attach.object.photo.url(:thumb)), attach.object.photo.url(:original)%><br>
	<%= attach.object.photo.url%><br>	
  <%end%>
  
  <%= attach.link_to_remove "Remove this image" %><br><br>
  
  <%end %>	
   <%= f.link_to_add "Add another image", :attachments %>
  </div>
	
	 <div class="field">
    <%= f.label :keyword_list%><br />
    <%= f.text_field :keyword_list %>
  </div>


  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
