<h1>Listing posts</h1>
<%= link_to 'New Post', new_admin_post_path, :class=> "btn btn-primary" %>
<p>
	

<% @posts.each do |post| %>
  <h2><%= post.title %></h2>
  filed under: <%= post.category_id %>
  <br><br>
   <%= post.content %><br><br>
   
    	<% post.attachments.each do |at|%>
		<%= image_tag at.photo.url(:thumb)%>
		<%end%>
		
		<br/></br/>
		<div class="citations-list">
		<% post.citations.each do |citations| %>
		<i><b><%= citations.source_name %></b></i> <br />
		<%= citations.extended_description %>	<br />
		<% end%>
		</div>
    	
   <br><br>
   <div class="btn-group">
    <%= link_to 'Show', admin_post_path(post), :class => "btn btn-small"%>
    <%= link_to 'Edit', edit_admin_post_path(post), :class => "btn btn-small" %>
    <%= link_to 'Delete this Post', admin_post_path(post), :confirm=> "Are you sure?", :method => :delete , :class=>"btn btn-danger btn-small"%>
    </div>
    <hr>
  
<% end %>


</p>


