<legend>Manage Posts</legend>

<%= link_to 'New Post', new_admin_post_path, :class=> "btn btn-primary" %><br/><br/>

<%= form_tag '/admin/posts/search', :method => 'get', :class=>"form-search" do %>
  <%= text_field_tag :q, params[:q], :class=>" input-medium search-query", :placeholder=>"Search" %>
  <%= submit_tag :search, :class=>"btn" %>
<% end %>


<hr>

<% @post.each do |post| %>
  <h2><%= post.title %></h2>
  filed under: 
  <% post.categories.each do |cat| %>
  <%= cat.category_name %><br>
  <% end -%>
   <p>
   <%= post.content %>
  </p>
   
   		<%unless post.attachments.empty? %>
        <div class="well">
    	<% post.attachments.each do |at|%>
		<%= image_tag at.photo.url(:thumb)%>
		<%end%>
    </div>
		<%end%>
		
  <%unless post.citations.empty? %>  
	<%= render :partial=>'citations', :locals => {:post => post} %>
	<%end %>
		
    	
   <br>
   <div class="btn-group">
    <%= link_to 'Show', admin_post_path(post), :class => "btn btn-small"%>
    <%= link_to 'Edit', edit_admin_post_path(post), :class => "btn btn-small" %>
    <%= link_to 'Delete this Post', admin_post_path(post), :confirm=> "Are you sure?", :method => :delete , :class=>"btn btn-danger btn-small"%>
    </div>
    <hr>
  
<% end %>





