<legend>Manage Posts</legend>
<%= link_to 'New Post', new_admin_post_path, :class=> "btn btn-primary" %>
<p>
	

<% @posts.each do |post| %>
  <h2><%= post.title %></h2>
  filed under: <%= post.category_id %>
  <br><br>
   <%= post.content %><br><br>
   
   		<%unless post.attachments.empty? %>
    	<% post.attachments.each do |at|%>
		<%= image_tag at.photo.url(:thumb)%>
		<%end%>
		<%end%>
		
		
		<%unless post.citations.empty? %>
		<div class="well">
		<% post.citations.each do |citations| %>
		<%= citations.source_name %><br>
		<%= citations.extended_description %><br><br>
		<% end%>
		</div>
		
		<%end%>
		
    	
   <br>
   <div class="btn-group">
    <%= link_to 'Show', admin_post_path(post), :class => "btn btn-small"%>
    <%= link_to 'Edit', edit_admin_post_path(post), :class => "btn btn-small" %>
    <%= link_to 'Delete this Post', admin_post_path(post), :confirm=> "Are you sure?", :method => :delete , :class=>"btn btn-danger btn-small"%>
    </div>
    <hr>
  
<% end %>


</p>


