<legend>Manage Posts</legend>

<%= link_to 'New Post', new_admin_post_path, :class=> "btn btn-primary" %><br/><br/>

<!-- TODO: change the sloppy approach to hard coding the path right into the form tag -->
<%= form_tag admin_posts_path, :class=> "form-search" , :method=> :get do %>
  <p>
    <%= text_field_tag :query, params[:query], :class=>"input-medium search-query" %>
    <%= submit_tag "Search",:name=>nil, :class=>"btn" %>
  </p>
<% end %>
  

<hr>

<%=will_paginate @post, :container=>false, :class=>"pagination"%>

<% @post.each do |post| %>
  <h2><%= post.title %></h2>

  <% if post.has_draft? %>
  <span class="label label-warning"> DRAFT</span>
  <%end %>

  filed under: 
  <% post.categories.each do |cat| %>
  <%= cat.category_name %><br>
  <% end -%>
   <p>
   <%= post.content %>
  </p>
   
   		<%unless post.attachments.empty? %>
        <div class="well">
    	<% post.attachments.each do |at|%>
		<%= image_tag at.photo.url(:thumb)%>
		<%end%>
    </div>
		<%end%>
		
  <%unless post.citations.empty? %>  
	<%= render :partial=>'citations', :locals => {:post => post} %>
	<%end %>
		
    	
   <br>
   <div class="btn-group">
    <%= link_to 'Show', admin_post_path(post), :class => "btn btn-small"%>
    <%= link_to 'Edit', edit_admin_post_path(post), :class => "btn btn-small" %>
    <%= link_to 'Delete this Post', admin_post_path(post), :confirm=> "Are you sure?", :method => :delete , :class=>"btn btn-danger btn-small"%>
    </div>
    <hr>
  
<% end %>