<div class="well">
<legend>Sign in </legend>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  

  <%= f.email_field :email ,:placeholder=>"E-mail"%><br>
  <%= f.password_field :password,:placeholder=>"Password" %>

<br><br>
  <% if devise_mapping.rememberable? -%>
  <%= f.check_box :remember_me %> Remember me
  <% end -%>
  <br><br>
  <%= f.submit "Sign in", :class=>"btn btn-primary" %>

<% end %>

<%= render :partial => "devise/shared/links" %>

</div>
