<%= nested_form_for([:admin,@variant]) do |f| %>
<% if @variant.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@variant.errors.count, "error") %> prohibited this attribute from being saved:</h2>
	<ul>
		<% @variant.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="field" id="variants">
	<%= hidden_field_tag(:product_id, @product.id)%>
	<h2>for <%= @product.name %></h2>
	<br>
	<div class="field">
		<%= f.label :name, "Name"%>
		<%= f.text_field :name %>
	</div>
	
	<!-- attributions fields: trait_id and it's corresponding value -->
	<%= f.fields_for :attributions do |attr|%>
	<%= attr.collection_select(:trait_id, Trait.all, :id, :name)%>
	<%= attr.text_field :value%>
	
	<%= attr.link_to_remove "Remove this trait", {:id=>@product.id}%>
	<%end %>
	<%=f.link_to_add "Add another trait", :attributions%>
	
	
	<div class="field">
		<%= f.label :description, "Description"%>
		<%= f.text_area :description %>
	</div>
	<div class="field">
		<%= f.label :price, "Price"%>
		<%= f.text_field :price %>
	</div>
	<div class="field">
		<%= f.label :quantity, "Quantity"%>
		<%= f.text_field :quantity %>
	</div>
	<%= f.submit :class=>"btn btn-primary"%>
</div>
<%end%> 