<%= nested_form_for([:admin,@variant], :html=>{:class=>"row"}) do |f| %>
<% if @variant.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@variant.errors.count, "error") %> prohibited this attribute from being saved:</h2>
	<ul>
		<% @variant.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

	<div class="well span8">
	<%= hidden_field_tag(:product_id, @product.id)%>
	
		<%= f.label :name, "Name"%>
		<%= f.text_field :name %>
		
		<%= f.label :description, "Description"%>
		<%= f.text_area :description, :rows=> 5, :class=>"span8 input-xlarge"%>
		
	</div>	
	
	<div class="well span8">
	<!-- attributions fields: trait_id and it's corresponding value -->
	<%= f.fields_for :attributions do |attr|%>
	<%= attr.collection_select(:trait_id, Trait.all, :id, :name)%>
	<%= attr.text_field :value%>
	
	<%= attr.link_to_remove "Remove this trait", {:id=>@product.id, :class=>"btn btn-mini btn-danger"}%>
	<%end %>
	<%=f.link_to_add "Add another trait", :attributions, :class=> "btn btn-mini"%>
	
	</div>

	<div class="well span8">	

		<%= f.label :price, "Price"%>
		<span class="input-prepend">
		<span class="add-on">$</span>
		<%= f.text_field :price %>
		</span>

		<%= f.label :quantity, "Quantity"%>
		<%= f.text_field :quantity %>
		
		
	</div>	
	
	<div class="span8">
		<%= f.submit :class=>"btn btn-primary"%>
	</div>


<%end%> 