<%= form_for([:admin,@trait]) do |f| %>
  <% if @trait.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trait.errors.count, "error") %> prohibited this attribute from being saved:</h2>

      <ul>
      <% @trait.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 
  <div class="field">
    <%= f.label  :name, "Trait Name" %><br />
    <%= f.text_field :name %>
  </div>
  
 
  
  <div class="field">
    <%= f.label :description, "Description" %><br />
    <%= f.text_area :description, :rows=>10 %>
  </div>
  
    <%= f.submit :class=>"btn-primary" %>
  
<% end %>
