<%= title "#{controller.action_name.capitalize} #{controller_name.singularize.capitalize}"%> 
<%= form_for [:admin,@category], :html => { :class => 'form-horizontal' } do |f| %>

<% if @category.errors.any? %>
<div class="alert alert-error">
	<h2><%= pluralize(@category.errors.count, "error") %> prohibited this product from being saved:</h2>
	<ul>
		<% @category.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

  
    
    <div class="well">
    <legend><%= controller.action_name.capitalize %> Categories</legend>
      <%= f.label :category_name %>
      <%= f.text_field :category_name %>
      <br><br>

      <%= f.label :category_description %>
      <%= f.text_area :category_description,  :rows=>10, :class=>"span8" %>
      
      <br><br>

    
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', admin_categories_path, :class => 'btn' %>
     </div>
 
<% end %>
