<%= form_for([:admin, @category]) do |f| %>
  <% if @category.errors.any? %>
    <div class="alert alert-error">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 
  <div class="field">
    <%= f.label :category_name %><br />
    <%= f.text_field :category_name %>
  </div>
  <div class="field">
    <%= f.label :category_description %><br />
    <%= f.text_field :category_description %>
  </div>
  
    <%= f.submit :class=>"btn"%>

  
<% end %>
