<%= nested_form_for([:admin,@product], :remote=>true, :html => { :multipart => true }) do |f| %>
<% if @product.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
	<ul>
		<% @product.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="field">
	<%= f.label :title %>
	<br />
	<%= f.text_field :title %>
</div>
<div class="field">
	<%= f.label :product_category_id %>
	<br/>
<% for category in ProductCategory.find(:all) %>
<div>
  <%= check_box_tag "product[product_category_ids][]", category.id, @product.product_categories.include?(category) %>
  <%= category.title %>
</div>
<% end %>
</div>

<!-- product variant -->
<%= render :partial=> "variant_form" , :locals =>{:f=> f} %>	

<!-- attached photo -->
<%= render :partial=> "shots_form" , :locals =>{:f=> f} %>	


<div class="field">
	<%= f.label :description %>
	<br />
	<%= f.text_area :description %>
</div>

<div class="field">
	<%= f.label :quantity, "Inventory Stock"%>
	<br />
	<%= f.text_field :quantity %>
</div>

<div class="field">
	<%= f.label :price %>
	<br />
	<%= f.text_field :price %>
</div>

	<%= f.submit :class=>"btn btn-primary"%>

<% end %> 