<%= nested_form_for([:admin,@product],  :html => {:multipart => true, :class=>"span12"}) do |f| %>
<% if @product.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
	<ul>
		<% @product.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="well">
<legend><%=controller.action_name.capitalize %> Product</legend>
	<%= f.label :name %>
	<%= f.text_field :name %>


	<%= f.label :product_category_id %>
	<div class="form-inline">
	<%= hidden_field_tag "product[product_category_ids][]", nil %>
	<% ProductCategory.all.each do |category| %>

		<%= check_box_tag "product[product_category_ids][]", category.id, @product.product_categories.include?(category) %>
		<%= label_tag dom_id(category), category.title %><br>
	
	<% end %>
	</div>
</div>

<!-- attached photo -->
<%= render :partial=> "shots_form", :locals =>{:f=> f} %>

<div class="well">

	<%= f.label :description %>
	<%= f.text_area :description, :class=> "span8", :rows=>10 %>

<br><br>
<%= f.submit :class=>"btn btn-primary"%>
</div>
<% end %> 