<div class="field" id="attachments">
	<%= f.label "Product Shots" %>
	<br>
	<%= f.fields_for :product_shots do |pshot| %>

	<% if pshot.object.new_record? %>
	<%= pshot.file_field :shot %>
	<%end%>

	<% unless pshot.object.new_record? %>
	<%= link_to image_tag(pshot.object.shot.url(:thumb)), pshot.object.shot.url(:medium)%>
	<br>
	<%= pshot.object.shot.url(:medium)%>
	<br>
	<%= link_to_function "Insert image into description", "insertMarkup(this,'image')", :class=> "insert-image-markup"%>
	<%end%>

	<%= pshot.link_to_remove "Remove this image", {:id=> @product.id} %>
	<br>
	<br>
	<%end %>

	<%= f.link_to_add "Add another image", :product_shots %>
</div>