<div class="field" id="variants">
  <%= f.label "Product Variants" %>  <br>	
 
  <%= f.fields_for :variants do |variant| %>
  
  <div class="field">
  <%=variant.label :name, "Name"%>
  <%= variant.text_field :name %>
  </div>
  
  <div class="field">
  <%=variant.label :description, "Description"%>
  <%= variant.text_area :description %>
  </div>
  
  <%= variant.fields_for :traits do |tr|%>
  
  <div class="field">
  <%= tr.collection_select( :id, Trait.all, :name, :name)%>
  </div>
  
  <%= tr.label :description , "Trait description"%>
  <%= tr.text_field :description %>
  
 <%end%>
  

  
  <div class="field">
  <%=variant.label :price, "Price"%>
  <%= variant.text_field :price %>
  </div>
  
  
  <div class="field">
  <%=variant.label :quantity, "Quantity"%>
  <%= variant.text_field :quantity %>
  </div>
 
  <%end %>	
  
  <%= f.link_to_add "Add another variant", :variants %>  
  </div>