<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @product_category.id %>
</p>

<p>
  <b>Title:</b>
  <%= @product_category.title %>
</p>

<p>
  <b>Description:</b>
  <%= @product_category.description %>
</p>


<%= link_to 'Edit', edit_admin_product_category_path(@product_category)%> |
<%= link_to 'Back', admin_product_categories_path %>
