<h1>Store</h1>
<p>
	Browse the catalog
</p>
<div id="storecontainer">
	<div id="cart">
		<%if @cart%>
		<%= hidden_div_if(@cart.line_items.empty?, :id=> "cart") do %>
		<%= render @cart %>
		<%end%>
		<%end%>
	</div>
	
	<% @product.each do |product|%>
	<div class="store-items">
		<h2><%= product.name%></h2>
		<br />
		<% product.product_shots.each do |pshot|%>
		<%= image_tag pshot.shot.url(:thumb)%>
		<%end%>
		<br>
		<br>
		
		<br>
		<%= product.description %>
		
		
		 <!-- product variants -->
		 <ul>
		<% product.variants.each do |variant| %>
		<li>
			<%= variant.name %>
			<% variant.attributions.each do |attr|%>
			<%= attr.value%>
			<%end %> <%= button_to 'Add to cart', line_items_path(:variant_id=> variant), :remote=>true, :class=>"btn-primary btn-mini btn"%>
		</li>
		<%end%>
		</ul>
		<hr>
	</div>
	<%end%>
</div>
