<h1>Store</h1>
<p>
	Browse the catalog
</p>
<div id="storecontainer">
	<%if @cart%>
	<%= hidden_div_if(@cart.line_items.empty?, :id=> "cart") do %>
	<%= render @cart %>
	<%end%>
	<%end%>
	
	
	<% @products.each do |product|%>
	<div class="store-items">
		<h2><%= product.title%></h2>
		<br />
		<% product.product_shots.each do |pshot|%>
		<%= image_tag pshot.shot.url(:thumb)%>
		<%end%>
		<br>
		<br>
		<span class="price"> <%= number_to_currency(product.price) %> </span>
		<%= button_to 'Add to Cart', line_items_path(:product_id => product), :remote=> true%>
		<br>
		<%= product.description %>
		<hr>
	</div>
	<%end%>
</div>
