<h1>Store</h1>
<p>
	Browse the catalog
</p>

 <div class="row">		
 	<span class="span12">
	<div id="cart">
		
		<%if @cart%>
		<%= hidden_div_if(@cart.line_items.empty?, :id=> "cart") do %>
		<%= render @cart %>
		<%end%>
		<%end%>
		

	</div>
	</span>


	<% @product.each do |product|%>
	<span class="span6">
		<h2><%= product.name%></h2>
		<br />
		<% product.product_shots.each do |pshot|%>
		<%= image_tag pshot.shot.url(:thumb)%>
		<%end%>
		<br>
		<br>
		<!--Price of the first variant -->
		
		<br>
		<%= product.description %>
	
	
		
		<table class="table table-striped">
		<% product.variants.each do |variant| %>
		
			<tr>
			<td><%= variant.name %></td>
			<% variant.attributions.each do |attr|%>
			<td>
				<h6>
				<%= attr.value%> 
				</h6>
			</td>	
			<%end%> 
			
			<td>
			<h4>
			<%= number_to_currency(variant.price)%>	
			</h4>
			</td>
			
			<td>
			<%= button_to 'Add to cart', line_items_path(:variant_id=> variant), :remote=>true, :class=>"btn-primary btn-mini btn"%>
			</td>
			</tr>
		
		<%end%>
		</table>
	
		
	
	</span>
	<%end%>
</div>
