<!DOCTYPE html>
<html>
<head>
  <title>Rishi</title>
  <%= stylesheet_link_tag  "application" %>
 
  <%= javascript_include_tag "application", :cache => false %>
  <%= javascript_include_tag :vendor, :cache => false %>

  <%= csrf_meta_tags %>
</head>
<body>



<div class="container">
<p class="alert alert-info"><%= notice %></p>
<p class="alert alert-error"><%= alert %></p>

<span class="current-user">
<% if user_signed_in? %>
Signed in as <%=current_user.email %>  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>  ?
<%end%>
</span>

<%= yield %>
</div>

</body>
</html>
