<!DOCTYPE html>
<html>
<head>
  <title>Rishi</title>
  <%= stylesheet_link_tag  "application" %>
 
  <%= javascript_include_tag "application", :cache => false %>
  <%= javascript_include_tag :vendor, :cache => false %>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>



<div class="container">


<%unless notice.blank? %>
<p class="alert alert-info">
  <%= notice %>
    <span class="current-user">
  <% if user_signed_in? %>
  Signed in as <%=current_user.email %>  <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class=>"btn btn-mini" )%> 
  <%end%>
</span>
</p>
<%end%>

<% unless alert.blank? %>
<p class="alert alert-error">
<%= alert %>
 </p>
<br/>
<%end%>




<div class="row">    

<div class="span6">Logo Stash</div>  
<div class="span4 home-navigation">
  
    Home
    Blog
  
</div> 

<%= yield %>
</div>


</div>

</body>
</html>
