<!DOCTYPE html>
<html>
<head>
  <title>Rishi Ghan / <%= yield :title %></title>  	
  <%= stylesheet_link_tag  "application" %>
 
  <%= javascript_include_tag "application", :cache => false %>
  <%= javascript_include_tag :vendor, :cache => false %>

  <%= csrf_meta_tags %>

  <meta name="description" content="Rishi Ghan's personal blog" />
  <meta name="keywords" content="Rishi, Ghan, Hrishikesh, portfolio, developer, frontend, rails, ruby, web" />
  <meta name="copyright" content="Rishi Ghan Inc."> 
  <meta name="robots" content="index,follow">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="author" content="Rishi Ghan, frishi@me.com">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0;" />
</head>
<body>



<div class="container">


<%unless notice.blank? %>
<p class="alert alert-info">
  <%= notice %>
</p>
<%end%>

<% unless alert.blank? %>
<p class="alert alert-error">
<%= alert %>
 </p>
<br/>
<%end%>


<div class="row">
<%= render :partial=>'pages/navlogo'%>
</div>

<!-- content -->
<div class="row">
<span class="span7">	
<%= yield %>
</span>

<!-- sidebar -->
<span class="span3">

	<%= form_tag blog_search_path, :method => 'get' do %>
	<%= text_field_tag :query, params[:query], :class=>" input-medium search-query", :placeholder=>"Search" %>
	
	<% end %>

	<h5>Browse by:</h5>
	<% @categories.each  do |cat|%>
	<%=link_to cat.category_name, blog_category_path(cat.category_name) %><br>
	<% end -%>
	<hr>
	<h5><%=link_to "ARCHIVE", blog_archive_path %></h5>

	
</span>

</div>
<!-- footer -->
<div class="wrapper">
	<%= javascript_include_tag "application", :cache => false %>
    <%= javascript_include_tag :vendor, :cache => false %>	
	<%= render :partial=>'shared/analytics'%>
    <footer>
        <p>Built with a lot of love. <a href="http://twitter.com/frishi" target="_blank">@frishi</a> 
    </footer>
</div>


</div>

</body>
</html>
