<!DOCTYPE html>
<html>
<head>
	
 <%= content_for :title, controller.action_name.capitalize %>	
  <%= stylesheet_link_tag  "application" %>
 
  <%= javascript_include_tag "application", :cache => false %>
  <%= javascript_include_tag :vendor, :cache => false %>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>



<div class="container">


<%unless notice.blank? %>
<p class="alert alert-info">
  <%= notice %>
    <span class="current-user">
  <% if user_signed_in? %>
  Signed in as <%=current_user.email %>  <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class=>"btn btn-mini" )%> 
  <%end%>
</span>
</p>
<%end%>

<% unless alert.blank? %>
<p class="alert alert-error">
<%= alert %>
 </p>
<br/>
<%end%>

<div class="row">
<ul class="home-navigation span4 offset6">
  
    <li><%=link_to "Home", "/"%></li>
    <li><%=link_to "Projects", projects_path %></li>
    <li><%=link_to "Thesis", thesis_path %></li>
    <li><%=link_to "Blog", blog_path %></li>
    <li><%=link_to "Colophon"%></li>
  
</ul> 
</div>

<div class="row">
<span><br/></span>
</div>

<!-- content -->
<div class="row">
<span class="span7">	
<%= yield %>
</span>

<!-- sidebar -->
<span class="span3">

	<%= form_tag blog_search_path, :method => 'get' do %>
	<%= text_field_tag :query, params[:query], :class=>" input-medium search-query", :placeholder=>"Search" %>
	
	<% end %>

	<h5>Browse by:</h5>
	<% @categories.each  do |cat|%>
	<%=link_to cat.category_name, blog_category_path(cat.category_name) %><br>
	<% end -%>
	<hr>
	<h5><%=link_to "ARCHIVE", blog_archive_path %></h5>

	
</span>

</div>




</div>

</body>
</html>
